#map {
  height: 300px;
  border: 1px solid #000;
}

#trip {
    position: absolute;
    top: 40%;
	text-align: center;
    width: 355px;
    right:600px;
    position: absolute;
    border: none;
    font-size: 17;
  
}

#heading {
    position: absolute;
    top: 10%;
	text-align: center;
    
    right:500px;
    position: absolute;
    border: none;
    font-size: 30;
  
}

#temp1 {
    width:490px;
    margin: 5px;
	float: left;
	height : 500px;
	background-color:#00FFFF;
}
#temp2 {
    margin: 5px ;
    width: 490px;
	float: left;
	height : 500px;
	background-color: #00FFFF;
}
#temp3 {
    margin: 5px;
    width: 490px;
	float: left;
	height : 500px;
	background-color: #00FFFF;
}

#store{
	right: 150px;
}
.main {
    padding: 3em 0 0;
	 width: 50%;
	 text-align: center;
    background-size: cover;
	float: left
}

h2 {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 50;
}

